.Gauge {
  position: relative;
  height: 2cm;
  width: 2cm;
  color: white;
  font-variant: bold;
}

.circle {
  position: absolute;
  width: 100%;
}

.gaugeContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}
